.pad {
    postiton:relative;
    background: #5D5D5D;
    width: 250px;
    height: 325px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 30px -10px #9D9D9D;
    border: solid 1px #808080
}

.pad .gain-container {
    position: relative;
    top: 190px;
    left: 145px;
}

.pad .gain-container p {
    position: relative;
    top: -50px;
    left: 35px
}

.pad .gain-container .gain-slider {
    transform: rotate(270deg);
}

.pad-label {
    background: #2D2D2D;
    box-shadow: inset 0 0 10px -3px black;
    border-radius: 2px;
    padding: 2px;
    width: fit-content;
}

