#profile {
    text-align: center;
    padding: 10px;
}

#profile .button {
    margin: 20px;
    width: 120px;
    height: 120px;
}

#setup-links {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

#setup-links .button * {
    color: #5B5B5B;
}

.ui.tiny.modal.transition.visible.active > * {
    color: #B5BEC8;
    background-color: #2D2D2D;
}

.ui.tiny.modal.transition.visible.active .header {
    border-bottom: solid 1px #737373;
}