* {
  color: #B5BEC8
}

#root {
  display: grid;
  grid-template-rows: 80vh 20vh;
  grid-template-areas:
    'pad-container'
    'master-controls';
  background: #202020;
}

#pad-container {
  grid-area: pad-container;
}

#master-controls {
  grid-area: master-controls;
  /*box-shadow: -5px 0 20px 10px black;*/
  border-top: solid 1px #737373;
  background: #2D2D2D
}