* {
  color: #B5BEC8;
}

body {
  background: #202020;
}

a {
  color: #B5BEC8;
}

a:hover {
  color: #5B5B5B;
}

#root #synth-view{
  display: grid;
  grid-template-rows: 80vh 20vh;
  grid-template-columns: auto 200px;
  grid-template-areas:
    'pad-container pad-container'
    'master-controls setup-controls';
}

#pad-container {
  grid-area: pad-container;
}

#master-controls {
  grid-area: master-controls;

}

#setup-controls {
  grid-area: setup-controls;
  padding: 5px;
  border-left: solid 1px #737373;
  display: grid
}

#master-controls, #setup-controls {
  box-shadow: inset 0 10px 40px -15px #5d5d5d;
  border-top: solid 1px #737373;
  background: #2D2D2D
}


